{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "vueIndentScriptAndStyle": true,
    "proseWrap": "always"
}
